.blockdrop-add {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px dashed #eee;
  color: #eee;
  text-align: center;
  background: transparent;
  width: 100%;
  padding: 20px 0 20px 0;
  cursor: auto;
}

.blockdrop-add:hover {
  cursor: pointer;
}

#blockdrop-popup {
  max-width: 800px;
  position: absolute;
  z-index: 100;
  vertical-align: middle;
  background: #e0e0d8;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 100px #000;
}

#blockdrop-popup-heading {
  font-size: 15px;
}

#blockdrop-list {
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 10px;
  border: 1px solid grey;
}

#blockdrop-list table {
  margin-bottom: -15px;
}

#blockdrop-list tr {
  cursor: auto;
}

#blockdrop-list tr:hover {
  cursor: pointer;
}

#blockdrop-popup .blockdrop-buttons {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

#blockdrop-popup .blockdrop-regions {
  float: left;
  margin-top: 10px;
}

#blockdrop-popup .blockdrop-buttons input {
  margin-left: 15px;
  width: 70px;
  font-size: 15px;
}

#blockdrop-popup .blockdrop-buttons input[name=btn_cancel] {
  margin-right: -10px;
}

.region .ui-sortable .block:hover {
  border: 1px dashed #eee;
  border-top: 20px solid #eee;
  cursor: auto;
}

.blockdrop-remove {
  display: none;
  position: absolute;
  top: 0;
  margin-top: -17px;
  left: 100%;
  margin-left: -15px;
  cursor: pointer;
}